<template>
  <section class="section">
    <h2 class="be-title">Alle produkte</h2>
    <div class="columns is-mobile">
      <aside class="column is-4n">
        <p class="menu-label is-hidden-touch border-bottom-grey">Filter optionen</p>
        <ul class="menu-list">
          <li></li>
        </ul>
      </aside>
      <div class="products-container">
        <div v-for="product in products" :key="product.productTitle" class="prouduct-item">
          <card
            :title="product.productTitle"
            :image="product.image"
            :description="product.productDescription"
            :price="product.productPrice"
            :price-per-weight="product.pricePerWeight"
          >Zum Product</card>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
 import Card from '~/components/Card'

 export default {
     name: 'HomePage',
     data() {
         return {
             products: [],
         }
     },
     components: {
         Card,
     },
     methods: {
         connect() {
             // image, product title, product description, product price, product price per weight, product-delivery-link
             this.$axios.$get('http://localhost:8095/api/products').then((res) => {
                 console.log('bukcin', res.data)
                 this.products = res.data
             })
         },
     },
     mounted() {
         this.connect()
     },
 }
</script>
<style scoped>
.be-title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 700;
  color: #000;
  margin: 20px 0;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
}

.border-bottom-grey {
  border-bottom: 1px solid grey;
}

.prouduct-item {
  width: 33.333%;
}
</style>
