<template>
  <div>
    <Header />
    <section class="main-content columns">
      <div class="container column top is-12">
        <Nuxt />
      </div>
    </section>
  </div>
</template>

<script>
import Header from '../components/layout/Header.vue'
export default {
  data () {
    return {
      
    }
  },
     components: {
         Header
     }
}
</script>
<style scoped>
.top {
  margin-top: 150px;
}
</style>
