<template>
  <div class="column">
    <div class="card">
      <header class="card-header"></header>
      <div class="card-content">
        <div>
          <div class="card-image">
            <figure class="image is-4by3">
              <img :src="image" alt="Placeholder image" />
            </figure>
          </div>
          <p class="text-center mb-20 mh-27">
            <NuxtLink
              :to="'/product/' + createLink(title)"
              exact-active-class="is-active"
              class="be-card-title"
            >{{ title }}</NuxtLink>
          </p>
          <p class="text-center is-black">{{ description }}</p>
          <p class="text-center is-black w-700 mb-10">{{ price }}</p>
          <p class="text-center is-black fs-10">{{ pricePerWeight }}</p>
          <a
            class="is-grey text-center fs-10 d-block"
            href="https://www.brain-effect.com/versandkosten"
          >Inkl. MwSt. & zzgl. Versandkosten</a>
        </div>
      </div>
      <footer class="card-footer be-green">
        <div class="card-footer-item">
          <span>
            <slot />
          </span>
        </div>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    image: {
      type: String,
      required: false,
    },
    description: {
      type: String,
    },
    price: {
      type: String,
    },
    pricePerWeight: {
      type: String,
    },
  },
  methods: {
    createLink(title) {
      // should come from database
      return title.replace(/\s/g, '-').toLowerCase()
    },
  },
}
</script>
<style scoped>
/*HELPERS*/
.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mh-27 {
  max-height: 27px;
}

.w-700 {
  font-weight: 700;
}

.is-black {
  color: black;
}

.is-grey {
  color: #a8a8a8;
}

.fs-10 {
  font-size: 10px;
}

.d-block {
  display: block;
}

.be-green {
  background: #76d9c7;
}

.card-content {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.text-center {
  text-align: center;
}

.be-card-title {
  text-transform: uppercase;
  color: black;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0px;
}
.image img {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}
</style>
