<template>
  <section class="section">
    <div class="columns">
      <div class="column is-6">
        <div v-if="product[0]">
          <b-carousel
            :autoplay="false"
            with-carousel-list
            :indicator="false"
            :overlay="gallery"
            @click="switchGallery(true)"
          >
            <b-carousel-item v-for="(item, i) in product[0].image" :key="i">
              <figure class="image">
                <img :src="item.image" />
              </figure>
            </b-carousel-item>
            <span v-if="gallery" @click="switchGallery(false)" class="modal-close is-large" />
            <template #list="props">
              <b-carousel-list
                v-model="props.active"
                :data="product[0].image"
                v-bind="al"
                @switch="props.switch($event, false)"
                as-indicator
              />
            </template>
            <template #overlay>
              <div class="has-text-centered has-text-white">Hello i'am overlay!</div>
            </template>
          </b-carousel>
        </div>
      </div>
      <div v-if="product[0]" class="column is-6 is-mobile product-description-container">
        <h2 class="product-description-title">{{ product[0].productTitle }}</h2>
        <div v-html="product[0].productDescription"></div>
        <div class="product-description-price-container">
          <span class="product-description-price">
            {{
            product[0].productPrice
            }}
          </span>
          <span>
            <a
              :href="product[0].deliveryLink"
              class="product-description-price-link"
            >Inkl. MwSt. & zzgl. Versandkosten</a>
          </span>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Card from '~/components/Card'

export default {
  name: 'HomePage',
  data() {
    return {
      product: [],
      gallery: false,
      al: {
        hasGrayscale: true,
        itemsToShow: 2,
        breakpoints: {
          768: {
            hasGrayscale: false,
            itemsToShow: 4,
          },
          960: {
            hasGrayscale: true,
            itemsToShow: 5,
          },
        },
      },
    }
  },
  components: {
    Card,
  },
  methods: {
    connect() {
        this.$axios
            .$get('http://localhost:8095/api/product/' + this.$route.params.slug)
            .then((res) => {
          console.log('punk', res.data)
          this.product = res.data
        })
    },
    switchGallery(value) {
      this.gallery = value
      if (value) {
        document.documentElement.classList.add('is-clipped')
      } else {
        document.documentElement.classList.remove('is-clipped')
      }
    },
  },
  mounted() {
    this.connect()
    console.log('params', this.$route.params.slug)
  },
}
</script>
<style scoped>
/*HELPERS*/
.fw-700 {
  font-weight: 700;
}

.carousel-item {
  min-height: 400px;
}

.image img {
  height: 100%;
  object-fit: cover;
}

.product-description-container {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 6px rgb(0 0 0 / 11%);
}

.product-description-title {
  font-size: 42px;
  margin-bottom: 16.5px;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
}

.product-description-price-container {
  margin-top: 15px;
}

.product-description-price {
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 0;
  color: black;
}

.product-description-price-link {
  font-size: 10px;
  color: #a8a8a8;
}

/*OVERRIDE*/
.column {
  padding: 0 20px;
  margin-top: 30px;
}
</style>
