<template>
  <div class="be-header">
    <nav
      class="header has-shadow be-green first-row center"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand center">
        <p class="nav-item is-margin-left">German quality</p>
        <p class="nav-item is-margin-left">Versandkostenfrei ab 29 €</p>
        <p class="nav-item is-margin-left">60 Tage Geld-zurück-Garantie</p>
        <div class="navbar-burger">
          <span />
          <span />
          <span />
        </div>
      </div>
    </nav>
    <nav
      class="navbar header has-shadow second-row is-black border-bottom"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <span class="nav-item is-margin-left">
          Land
          <span class="is-white is-padding-left-10">DE</span>
        </span>
        <span class="nav-item is-margin-left">Fragen?</span>
        <div class="navbar-burger">
          <span />
          <span />
          <span />
        </div>
      </div>
    </nav>
    <nav
      class="navbar header has-shadow third-row is-black center"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand main-navigation">
        <div class="nav-left-section">
          <a class="navbar-item" href="/">Shop</a>
          <a class="navbar-item" href="/">Unsere vision</a>
          <a class="navbar-item" href="/">Magazin</a>
          <a class="navbar-item" href="/">App</a>
        </div>
        <div class="nav-middle-section">
          <NuxtLink to="/" exact-active-class="is-active" class="navbar-item is-title">
            <img
              src="https://d7u0ixshl8qvw.cloudfront.net/static/version1631198968/frontend/Braineffect/default/de_DE/images/logo.svg"
              alt="Braineffect logo"
              width="180"
              height="36"
            />
          </NuxtLink>
        </div>
        <div class="nav-right-section">
          <a class="navbar-item" href="/">Two icons here</a>
        </div>

        <div class="navbar-burger">
          <span />
          <span />
          <span />
        </div>
      </div>
    </nav>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'Header',
  data() {
    return {
      viewLaravel: '',
    }
  },
  mounted() {
    this.$axios.$get('/api/').then((res) => {
      console.log('response', res)
      this.viewLaravel = res
    })
  },
})
</script>
<style scoped>
/* HELPERS */
.center {
  justify-content: center;
  align-items: center;
}

.is-white {
  color: white !important;
}

.is-padding-left-10 {
  padding-left: 10px;
}

/*LAYOUT*/
.be-header {
  position: fixed;
  color: black;
  margin-bottom: 50px;
  width: 100%;
  z-index: 999;
  margin-top: 12px;
}

.first-row {
  font-weight: 500;
  font-size: 16px;
}

.second-row span {
  color: rgb(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
}

.third-row {
  min-height: 75px;
  border-top: 2px solid rgba(255, 255, 255, 0.15);
}

.third-row .nav-left-section a {
  font-size: 22px;
}

.be-green {
  background: #76d9c7;
}

.nav-item.is-margin-left {
  margin-left: 1.5rem;
}

.navbar-brand {
  width: 100%;
}

.navbar-item.is-title {
  font-size: 25px;
  width: 180px;
}

.nav-left-section {
  display: flex;
  width: 35%;
}

.nav-middle-section {
  display: flex;
}

.nav-right-section {
  display: flex;
  width: 35%;
  justify-content: flex-end;
}

.main-navigation {
  justify-content: space-between;
  color: white;
}

.main-navigation a {
  color: white;
  text-transform: uppercase;
}

/*OVERRIDES*/
.navbar-item img {
  max-height: 200px;
}
</style>
